@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  text-decoration: none !important;
  background: transparent;
  border: none;
  color: #000;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
}

.title {
  margin-bottom: 45px;
  font-size: 28px;
  color: #111;
}

.noData {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
